<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- linking the style.css in the html file -->


    <link rel="stylesheet" href="/static/style.css" class="rel">

    <!-- google fonts link -->

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">

    <title>Scientific Calculator by SHYAKA Aime</title>

</head>

<body>
    <div class="heading" style="text-align:center;font-family: 'Poppins';margin-top:5px;" ><h2>SHYAKA Aime Calc.</h2></div>
    <div class="calculator">
        <div class="calc-container">

            <!-- this the output window ↓ -->
            <div class="output">
                <div class="operation">
                    <div class="value"></div>
                </div>
                <div class="result">
                    <div class="value">0</div>
                </div>
            </div>

            <!-- output div ends here -->
            <div class="input">

            </div>
        </div>
    </div>
    
   <!-- <footer style="margin-top:100%">
        <div class="end">
           <p style="text-align:center;font-family: 'Poppins';">Powered & Designed by <a href="https://aime-blog.netlify.app/" style="color:blue;>SHYAKA Aime</a></p>
        </div>
    </footer>-->

    <script src="/static/index.js"></script>
</body>


</html>
